<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prop类型绑定</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <h3>#Prop类型绑定（单向、双向）</h3>
    <div class="prop">
        <input v-model="name" :style="styleInput" />
        <div :style="styleDiv">component组件（默认）：</div>
        <child-1 :my-msg="name"></child-1>
        <div :style="styleDiv">component组件（once）：</div>
        <child-1 :my-msg.once="name"></child-1>
        <div :style="styleDiv">component组件（sync-双向）：</div>
        <child-1 :my-msg.sync="name"></child-1>
    </div>
    <script>
    var styleInput = {
        padding: "10px 4px",
        border: '1px solid #d9d9d9'
    }
    Vue.component('child-1', {
        template: '<input type=\'text\' v-model=\'myMsg\' :style="styleInput">',
        props: ['myMsg'],
        data: function() {
            return {
                styleInput: styleInput
            }
        }

    })
    new Vue({
        el: '.prop',
        data: {
            name: 'text',
            styleDiv: {
                padding: "10px 0",
                borderBottom: '1px solid #d9d9d9',
                marginBottom: '15px'
            },
            styleInput: styleInput
        },
    })
    </script>
</body>

</html>
