<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Prop验证</title>
	<script src="http://cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
</head>
<body>
	<div class="prop">
		<div>name:{{person_1.name}},age:{{person_1.age}}</div>
		<input type="text" v-model="telphone">
		<child :msg-null="123+456"  msg-string="this is string" :msg-number="99" :msg-toway.sync="telphone" :msg-validate="mobilephone" :msg-numbertostring="telphone" :msg-tojson="person_1" :msg-toobj="person_2"></child>
	</div>
	<script>
		Vue.component('child',{
			props:{
				msgNull: null,
				msgString:{
					type:String,
					required:true
				},
				msgNumber:{
					type:Number,
					default:100
				},
				msgValidate: {
		            type: Number,
		            validator: function(val) {
		                return val > 0;
		            }
		        },
		        msgObj:{
		        	type:Object,
		        	default:function () {
		        		return{
		        			name:'chenjun',
		        			age:28
		        		}
		        	}
		        },
		        msgToway:{
		        	type:String,
		        	twoWay: true
		        },
		        msgNumbertostring:{
		        	coerce:function(val){
	        		 	return val + '' // 将值转换为字符串		
		        	}
		        },
		        //对象转JSON字符串
                msgTojson: {
                    coerce: function(obj) {
                        return JSON.stringify(obj);
                    }
                },
                // 将 JSON 字符串转换为对象
                msgToobj: {
                    coerce: function(val) {
                        return JSON.parse(val);
                    }
                },
		         
		        

			},
		  	template: '<div>msgNull: {{msgNull}}</div>' 
			　　　　+ '<div>msgString:{{msgString}}</div>' 
			　　　　+ '<div>msgNumber: {{msgNumber}}</div>' 
			　　　　+ '<div>msgObj:{{"name-->"+msgObj.name+", age-->"+msgObj.age}}</div>' 
					+ '<div>msgToway:<input v-model="msgToway"></div>' 
			　　　　+ '<div>msgValidate:{{msgValidate}}</div>' 
			　　　　+ '<div>msgNumbertostring: {{msgNumbertostring}}</div>' 
					+ '<div>msgTojson: {{msgTojson}}</div>' 
					+ '<div>msgToobj:{{"name: "+msgToobj.name+"; age: "+msgToobj.age}}</div>'
			　　　 
						 

		})
		new Vue({
			el:'.prop',
			data:{
				telphone:'0755-53254124',
				mobilephone:13480682695,
				person_1:{
					name:'jone',
					age:30
				},
				person_2:'{"name":"jone","age":30}'
			}
		})
	</script>
</body>
</html>