<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script src="bower_components/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.0.2/vue-resource.min.js"></script>
 
</head>
<body>
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<legend>书籍列表</legend>
			<div id="app">
				<table class="table table-hover">	
					<thead>
                        <tr>
                            <th @click="sortBy('id')">序号</th>
                            <th @click="sortBy('name')">书名</th>
                            <th @click="sortBy('author')">作者</th>
                            <th @click="sortBy('price')">价格</th>
                            <th class="text-right">操作</th>
                        </tr>
                    </thead>				 
					<tbody>
						<tr v-for="book in books | orderBy sortparam">
							<td>{{book.id}}</td>
							<td>{{book.name}}</td>
							<td>{{book.author}}</td>
							<td>{{book.price}}</td>
						 	<template v-if="book.id%2==0">
                                <td class="text-right">
                                    <button type="button" class="btn btn-success" @click="delBook(book)">删除</button>
                                </td>
                            </template>
                            <template v-else>
                                <td class="text-right">
                                    <button type="button" class="btn btn-danger" @click="delBook(book)">删除</button>
                                </td>
                            </template>
						</tr >
						<tr>
                            <td class="text-right" colspan="5">
								<h4>总价:{{sum}}</h4>
							</td>
                        </tr>
					</tbody>
				</table>
			
				<div id="add-book">
					<form action="" method="POST" role="form">
						<legend>添加书籍</legend>					
						<div class="form-group">
							<label for="">书名</label>
							<input type="text" class="form-control" placeholder="请输入书名" v-model="book.name">
						</div>
						<div class="form-group">
							<label for="">作者</label>
							<input type="text" class="form-control" placeholder="请输入作者" v-model="book.author">
						</div>
						<div class="form-group">
							<label for="">价格</label>
							<input type="text" class="form-control" placeholder="请输入价格" v-model="book.price">
						</div>
					  	<button class="btn btn-primary btn-block" v-on:click.stop.prevent="addBook">添加</button>
					</form>
				</div>
			</div>
		</div>
		 	 
			
		 
	</div>

	<script src="app.js"></script>
</body>
</html>